@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

:root {
  --primary-color1: hsl(179, 62%, 43%);
  --primary-color2: hsl(71, 73%, 54%);

  --neutral-color1: hsl(204, 43%, 93%);
  --neutral-color2: hsl(218, 22%, 67%);

  --main-font: "Karla", sans-serif;
}

body {
  height: 100vh;
}

.card1 {
  margin: 5%;
}

.card1__title {
  font-weight: 700;
  color: var(--primary-color1);
}

.card1__subtitle {
  font-weight: 700;
  color: var(--primary-color2);
  padding: 4% 0 2% 0;
}

.card1__text {
  font-weight: 400;
  color: var(--neutral-color2);
  padding-bottom: 1%;
}

div {
  display: flex;
  width: auto;
  height: auto;
}

.card2 {
  padding: 5%;
  background-color: var(--primary-color1);
}

.card2__subtitle {
  color: var(--neutral-color1);
  font-weight: 700;
  padding-bottom: 10%;
}

strong {
  font-size: 2rem;
  color: var(--neutral-color1);
  text-align: center;
}

.card2__text {
  color: var(--neutral-color1);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5%;
  padding-bottom: 15%;
}

.card2__button {
  color: var(--neutral-color1);
  background-color: var(--primary-color2);
  width: 100%;
  padding: 6%;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card3 {
  padding: 5%;
  background-color: hsl(179, 62%, 47%);
}

.card3__subtitle {
  color: var(--neutral-color1);
  font-weight: 700;
  padding-bottom: 15%;
}

ul {
  list-style-type: none;
  color: var(--neutral-color1);
  font-weight: 400;
}

li {
  padding-bottom: 2%;
}