@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

:root {
  --primary-color1: hsl(179, 62%, 43%);
  --primary-color2: hsl(71, 73%, 54%);

  --neutral-color1: hsl(204, 43%, 93%);
  --neutral-color2: hsl(218, 22%, 67%);

  --main-font: "Karla", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-color1);
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60%;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 3%;
  margin-bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  min-width: 60%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 3%;
  margin-top: 0;
}

.intro {
  margin: 0 auto;
  padding: 2rem;
  padding-left: 4rem;
  background-color: hsl(203, 100%, 97%);
  width: 100%;
  box-sizing: border-box;
}

.intro__title {
  font-weight: 700;
  color: var(--primary-color1);
}

.intro__subtitle {
  font-weight: 700;
  color: var(--primary-color2);
  padding: 4% 0 2% 0;
}

.intro__text {
  font-weight: 400;
  color: var(--neutral-color2);
  padding-bottom: 1%;
}

.bottom__cards {
  display: flex;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.subscription {
  padding: 5%;
  padding-left: 4rem;
  background-color: var(--primary-color1);
  flex: 1;
  border-radius: 0 0 0 10px;
}

.subscription__subtitle {
  color: var(--neutral-color1);
  font-weight: 700;
  padding-bottom: 10%;
}

strong {
  font-size: 2rem;
  color: var(--neutral-color1);
  text-align: center;
}

.subscription__text {
  color: var(--neutral-color1);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5%;
  padding-bottom: 5%;
}

.subscription__button {
  color: var(--neutral-color1);
  background-color: var(--primary-color2);
  width: 100%;
  padding: 6%;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.subscription__button:hover {
  cursor: pointer;
  background-color: var(--neutral-color2);
}

.benefits {
  padding: 5%;
  background-color: hsl(179, 62%, 47%);
  flex: 1;
  border-radius: 0 0 10px 0;
}

.benefits__subtitle {
  color: var(--neutral-color1);
  font-weight: 700;
  padding-bottom: 15%;
}

ul {
  list-style-type: none;
  color: var(--neutral-color1);
  font-weight: 400;
}

li {
  padding-bottom: 2%;
}

@media (max-width: 768px) {
  header {
    max-width: 60%;
  }
  
  main {
    max-width: 60%;
  }

  .bottom__cards {
    flex-direction: column;
  }

  .benefits {
    padding-left: 4rem;
  }
}

@media (max-width: 320px) {
  body {
    max-width: 95%;
  }

  .intro {
    padding-left: 1rem;
  }

  .intro__title {
    font-size: 1.85rem;
  }

  .subscription {
    padding-left: 1rem;
    border-radius: 0;
  }

  .benefits {
    padding-left: 1rem;
    border-radius: 0 0 10px 10px;
  }
}